/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* MY New ADDED */
/* resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  :root{
    --main: 22 22 22;
    --secondary: 255 150 0;
    --coffee : 122 89 66;
    --third: 152 200 214;
    --fourth: 227 180 186;
    --firth: 181 189 208;
    --sixth : 219 215 220;
    --seventh: 204 217 187;
    --cover: 1 18 31;
    --true : 6 148 22;
    --text : 158 171 137;
    --transparent : transparent;

    --showContainerSize : 50rem;

  }
}

html{
  scroll-margin-top: 7rem;
  scroll-behavior: smooth;
}